<!-- <br />
<br />
<br />
<br />
<br />
<head><%= link_to "View graph for this data", new_graph_path(:id => @passedid), class: "btn btn-primary" %></head>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /> -->

<h1>Chart</h1> 
<%= form_tag("/graphs/new?id=#{@passedid}", method:"post") do |f| %>

<% xaxis = Array.new; yaxis = Array.new %>
 

<% @keysMap.each do |key, array| %>
    <%= radio_button_tag("graph",key,true) %><%= label_tag(:line, "#{key}") %>
    <table>
    <th> X Axis </th> <th> Y Axis </th>
    <% @keysMap[key].each do |x| %>
        <tr>
        <td><%= check_box_tag("x_#{x}_"+key,1,false) %><%= label_tag(:line, "#{x}") %> </td>
        <td><%= check_box_tag("y_#{x}_"+key,1,false) %><%= label_tag(:line, "#{x}") %> </td>
        </tr>
       
    <% end %>
    
    </table>  
    <%end %>

<%= submit_tag(" Make Graph")%>

<% end %>

    




