<!-- <br />
<br />
<br />
<br />
<br />
<head><%= link_to "View graph for this data", new_graph_path(:id => @passedid), class: "btn btn-primary" %></head>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /> -->
<body>
<h1>Chart</h1> 
<%= form_tag("/graphs/new?id=#{@passedid}", method:"post") do |f| %>

<% xaxis = Array.new; yaxis = Array.new %>
 

<% @keysMap.each do |key, array| %>
    <%= radio_button_tag("graph",key,false) %><%= label_tag(:line, "#{key}") %>
    <div name="xyaxisfields" style="">
    <table>
    <th> X Axis </th> <th> Y Axis </th>
    <% @keysMap[key].each do |x| %>
        <tr>
        <td><%= radio_button_tag("xaxis",x,false) %><%= label_tag(:line, "#{x}") %> </td>
        <td><%= check_box_tag("y_#{x}_"+key,1,false) %><%= label_tag(:line, "#{x}") %> </td>
        </tr>
       
    <% end %>
    
    </table>
    </div>  
    <%end %>

<%= submit_tag(" Make Graph")%>

<% end %>

<div style="width:800px; margin:0 auto;" class="alert alert-warning" role="alert" style="text-align: justify;">
    Choose fields which can be shown together. For example : Red Blood cells and White blood cells count.
    <br>
    Never choose fields which don't go together. Like Height and Weight as they have different units. 
    <br>
 </div>

</body>


    




