<!-- <br />
<br />
<br />
<br />
<br />
<head><%= link_to "View graph for this data", new_graph_path(:id => @passedid), class: "btn btn-primary" %></head>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /> -->
<body>
<h1>Chart</h1> 
<%= form_tag("/graphs/new?id=#{@passedid}", method:"post") do |f| %>

<% xaxis = Array.new; yaxis = Array.new %>
 
    <table>
    <tr style="align :left"><td style="align :left"> X Axis</td>
    <td style="align :left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>  <!-- <th> Y Axis </th> -->
    <td style="align :left"><%= select_tag "xaxis", options_for_select( @keysMap,  @keysMap[0])   %></td>

    </tr>
    

    <tr style="align :left"><td style="align :left" name="yaxis" id="yaxis"> Y Axis </td> 
    <td> &nbsp; </td> 
    <% flag = 1%>
    <td style="align :left"><%= select_tag "yAxisOptions", options_for_select( @keysMap, @keysMap[1]) , :multiple=>true%></td>
    </tr>
   
    

    <tr style="align :left"><td style="align :left"> Label for X-axis </td>
    <td style="align :left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td style="align :left"><%= text_field_tag 'xUnits',nil, placeholder:'X-Axis Label' %></td>
    </tr>

    <tr style="align :left"><td style="align :left"> Label for Y-axis </td>
    <td style="align :left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td style="align :left"><%= text_field_tag 'yUnits',nil, placeholder:'Y-Axis Label' %></td>

    </tr>


    
    <tr style="align :left"><td style="align :left"> Graph Type </td>
    <td style="align :left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td style="align :left"><%= select_tag "graphType", options_for_select( ["Line Graph", "Bar Graph"]  ,"Line Graph")   %></td>
    </tr>


    
    </table>




    <!-- </div> --> 
  

<%= submit_tag(" Make Graph", :id=>"submitBtId",  :onclick => "return validateform();")%>

<% end %>

<div style="width:800px; margin:0 auto;" class="alert alert-warning" role="alert" style="text-align: justify;">
    Choose fields which can be shown together. For example : Red Blood cells and White blood cells count.
    <br>
    Never choose fields which don't go together. Like Height and Weight as they have different units. 
    <br>
 </div>
<a href="#dataTable" id="linkToTable">View some data of Parsed CSV</a>
<br /><br />
<div class="table" >
  <table border="1" style="display:none" id="dataTable" >
    <tr>
      <% for i in 0..@keysMap.length-1%>
          <th><%= @keysMap[i] %></th>
      <% end %>
    </tr>

    <% @rows.each do |row| %>
        <tr>
          <% for j in 0..@keysMap.length-1 %>
              <td><%= row[@keysMap[j]] %> </td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>


<script type="text/javascript">
  var linktoTable = document.getElementById('linkToTable');
  var dataTable = document.getElementById('dataTable');
  linktoTable.onclick = function() {
    dataTable.style['display'] = 'inline-table';
  };
</script>
</body>

<script type="text/javascript">
    var selectXaxis = document.getElementById('xaxis');
    var details_div = document.getElementById('Line_Chart_div');
  selectXaxis.onchange = function() {
    
    var yAxis = "y_" + selectXaxis.options[selectXaxis.selectedIndex].value + "_default"; 
    //alert(yAxis);

    var checkBox_list = document.getElementsByTagName('input');
 
    for (var i = 0; i < checkBox_list.length; i++) {
        var checkbox = checkBox_list[i];
     
        if (checkbox.getAttribute('type') == 'checkbox') {
            checkbox.disabled = false;

        }
    } 
    document.getElementById(yAxis).checked = false; 
    document.getElementById(yAxis).disabled = true;   

  }; 

    function validateform(){
          var selectXaxis = document.getElementById('xaxis');
          var xaxisValue = selectXaxis.options[selectXaxis.selectedIndex].value
          var yAxisOptions = document.getElementById('yAxisOptions');
          //console.log(yAxisOptions);
          console.log(xaxisValue);
          //console.log(yAxisOptions.values);

          var select1 = document.getElementById("yAxisOptions");
          var selected1 = [];

          for (var i = 0; i < select1.length; i++) {
              if (select1.options[i].selected) 
                {
                  selected1.push(select1.options[i].value);
                }
          }
          console.log(selected1);

          if(selected1.length == 0)
          {
            var errorMsg = "You need to select atleast one parameter on Y axis";
            alert(errorMsg);
            return false;
          }
          
          if(selected1.indexOf(xaxisValue) > -1)
          {
            var errorMsg = "Selecting same values for X-Axis and Y-Axis is not allowed. Redundant parameter: " + xaxisValue;
            alert(errorMsg);
            return false;
          }
          else
            return true;
      
    }  
</script>


    




